body {
  background: #161b27;
}

.app {
  font-family: Roboto;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: grey;
  text-align: center;
}

.app h1 {
  font-family: Shrikhand;
  line-height: normal;
  letter-spacing: 1px;
  color: #cacaca;
  text-align: center;
  text-shadow: #ac00af 3px 3px 0px;
}
